/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Botón engranaje */
.toggle-btn {
  position: fixed;
  top: 11px;
  left: 15px;
  z-index: 1001;
  background-color: #253667;
  color: #ecf0f1;
  border: none;
  font-size: 22px;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}
.col-1{
  background-color: #e2f8f8;
  padding: 2px;
}
/* Sidebar overlay */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(0);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.menu {
  margin-top: 50px;
}

.menu a {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.logout-btn {
  background-color: #e74c3c;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

/* Contenido */
.content {
  padding: 30px;
  background-color: #ecf0f1;
  min-height: 90.5vh;
}
/* informacion de usuario */
.info-usuario-horizontal {
  display: flex;
  justify-content: space-between;
  padding: 9px;
  background-color: #e2f8f8;
  
}

.info-box {
  display: flex;
  flex-direction:row;
  gap: 8px;
  margin: 0 5rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}



